<header>
  <a href="/"><img src="/images/MainBefore.jpg" alt="Photo de profil" /></a>
  <div class="headerContent">
    <h1>~ Esteban Rattier ~</h1>
    <div class="headerLinks">
      <a href="/veille">veille</a>
      <a href="/rectorat">rectorat</a>
      <a href="/rp">réalisation</a>
    </div>
  </div>
</header>

<style>
  header {
    text-align: center;

    & img {
      width: 3rem;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      border-radius: 50px;
    }

    & .headerContent {
      & h1 {
        font-size: x-large;
        margin-bottom: -0.1rem;
      }

      & .headerLinks {
        & a {
          color: darkgrey;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
</style>
